.editor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tree-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    top: 50px;
    right: 100px;
    padding: 10px 20px;
    background-color: #F0F0F3;
    border: 1px solid #D2DBE7;
    border-radius: 10px;
    z-index: 1000;
}

.tree-menu button {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    padding: 10px 20px;
    background-color: #F0F0F3;
    border: 1px solid #D2DBE7;
    border-radius: 10px;
    z-index: 1000;
}

.port-container button, label {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-name-input {
    position: absolute;
    top: 40px;
    left: 350px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    z-index: 1000;
    font-size: 28px
}